{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<h1>Ajouter un collaborateur</h1>

	{{ form_start(registrationForm) }}
	{{ form_row(registrationForm.email) }}
	{{ form_row(registrationForm.plainPassword, {
            label: 'mot de passe',
            class: 'uk-input'
        }) }}


	{{ form_end(registrationForm) }}

	<h3>Liste des collaborateurs</h3>
	<table class='uk-table uk-table-hover uk-table-divider'>
		<thead>
			<tr>
				<th>Email</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for collaborateur in collaborateurs %}
				<tr>
					<td>{{ collaborateur.email }}</td>
					<td>
						<!-- https://getuikit.com/docs/icon -->
						<a class="uk-icon-link uk-margin-small-right" uk-icon="file-edit" href="#"></a>
						<a class="uk-icon-link" uk-icon="trash" href=""></a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
