{% extends 'base.html.twig' %}



{% block title %}Liste des stagiaires
{% endblock %}

{% block body %}

	<h1>Ajouter un stagiaire</h1>
	{{ form(formTrainee) }}

	<h1>Liste des stagiaires</h1>
	<table class='uk-table uk-table-hover uk-table-divider'>
		<thead>
			<tr>
				<th>Prénom NOM</th>
				<th>Adress</th>
				<th>Téléphone</th>
				<th>Nb Pole Emploi</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for stagiaire in stagiaires %}
				<tr>
					<td>{{ stagiaire }}</td>
					<td>{{ stagiaire.fullAdress }}</td>
					<td>{{ stagiaire.phone }}</td>
					<td>{{ stagiaire.numberPoleEmploi }}</td>
					<td>
						<!-- https://getuikit.com/docs/icon -->
						<a class="uk-icon-link uk-margin-small-right" uk-icon="file-edit" href="#"></a>
						<a class="uk-icon-link" uk-icon="trash" href=""></a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
