{% extends 'base.html.twig' %}

{% block title %}Admin
{% endblock %}

{% block body %}

	<h1>Ajouter un lieu de formation</h1>
	{{ form(formLocation) }}

		<h3>Liste des lieux</h3>
		<table class='uk-table uk-table-hover uk-table-divider'>
			<thead>
				<tr>
					<th>Adresse</th>
					<th>CP</th>
					<th>Ville</th>

					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for location in locations %}
					<tr>
						<td>{{ location.adress }}</td>
						<td>{{ location.postalCode }}</td>
						<td>{{ location.city }}</td>

						<td>
							<!-- https://getuikit.com/docs/icon -->
							<a class="uk-icon-link uk-margin-small-right" uk-icon="file-edit" href="{{ path('location_edit', {id:location.id} ) }}"></a>
							<a class="uk-icon-link" uk-icon="trash" href="{{ path('location_suppr', {id:location.id}) }}"></a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endblock %}
