{% extends 'base.html.twig' %}

{% block title %}Session {{ session.title }}
{% endblock %}

{% block body %}
<h1>{{ session.title }}</h1>
<table class='uk-table uk-table-hover uk-table-divider'>
		<tr>
			<th>Titre</th>
			<td>{{ session.title }}</td>
		</tr>
		<tr>
			<th>Formation</th>
			<td>
				{{ session.training.title }}
				<ul>
				{% for module in session.training.modules  %}          
					<li> {{ module.title }} </li>
				{% endfor %}
				</ul>				
			</td>				
		</tr>
		<tr>
			<th>Période</th>
			<td>{{ session.startDate| date('d/m/Y') ~" - "~session.endDate| date('d/m/Y')}}</td>
		</tr>
		<tr>
			<th>Nb de stagiaires inscrit</th>
			<td>{{ session.trainees|length ~"/"~ session.maximumTrainees  }}</td>
		</tr>
		<tr>
			<th>Nb de stagiaires autorisés</th>
			<td>{{ session.minimumTrainees ~" à "~ session.maximumTrainees}}</td>
		</tr>		
		<tr>
			<th>Liste des stagiaires</th>
			<td>
				{{ session.training.title }}
				<ul>
				{% for stagiaire in session.trainees %}          
					<li> 
						<a href="{{ path('show_stagiaire', {id:stagiaire.id} ) }}">
							{{ stagiaire }}
						</a> 
					</li>
				{% endfor %}
				</ul>				
			</td>				
		</tr>


		<tr>
			<th>Lieu</th>
			<td>{{ session.location }}</td>
		</tr>			
		<tr>
			<th>Action</th>
			<td>
				<a class="uk-icon-link uk-margin-small-right" uk-icon="file-edit" href="#"></a>
				{% if is_granted('ROLE_ADMIN') %}
					<a class="uk-icon-link" uk-icon="trash" href=""></a>
				{% endif %}
			</td>
		</tr>
</table>
	
{% endblock %}
