<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
																																																								and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			<!-- UIkit CSS -->
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/css/uikit.min.css"/>
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous"/>
			<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		{% endblock %}

		{% block javascripts %}
			<!-- UIkit JS -->
			<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit-icons.min.js"></script>
		{% endblock %}
	</head>
	<body>
		<nav id="navbar" class="uk-navbar-container" uk-navbar>

			<a class="uk-navbar-item uk-logo" href="{{ path('accueil') }}">
				<img id="logo" src="{{ asset('img/logoelan.png') }}" alt="logo"></a>
			<div class="uk-navbar-right">
				<ul class="uk-navbar-nav">
					<li class="uk-navbar-item">
						<a href="{{ path('accueil') }}">Accueil</a>
					</li>
					<li class="uk-navbar-item">
						<a href="{{ path('sessions') }}">Sessions</a>
					</li>
					<li class="uk-navbar-item">
						<a href="{{ path('stagiaires') }}">Stagiaires</a>
					</li>
					{% if is_granted('ROLE_ADMIN') %}
						<li>
							<a href="{{ path('admin') }}">Admin</a>
							<div class="uk-navbar-dropdown">
								<ul class="uk-nav uk-navbar-dropdown-nav">
									<li>
										<a href="{{ path('app_register') }}">Collaborateurs</a>
									</li>
									<li>
										<a href="{{ path('typeTraining_add') }}">Categories</a>
									</li>
									<li>
										<a href="{{ path('training_add') }}">Formations</a>
									</li>
									<li>
										<a href="{{ path('session_add') }}">Sessions</a>
									</li>
									<li>
										<a href="{{ path('module_add') }}">Modules</a>
									</li>
									<li>
										<a href="{{ path('location_add') }}">Lieux</a>
									</li>
								</ul>
							</div>
						</li>
					{% endif %}
					{% if is_granted('ROLE_USER') %}
						<li class="uk-navbar-item">
							<a href="{{ path('app_logout') }}">Deconnexion</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</nav>
		<main class="uk-container"> {% block body %}{% endblock %}
			</body>
		</body>
	</html>
</main></body><footer class="uk-align-center">
<p>© 2021 Elan</p>
<p></p>
<p></p></footer></html>
